[submodule ".config/awesome/sharedtags"]
	path = .config/awesome/sharedtags
	url = https://github.com/Drauthius/awesome-sharedtags/
[submodule ".config/qutebrowser/dracula"]
	path = .config/qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser
[submodule ".config/awesome/awesomewm-micky"]
	path = .config/awesome/awesomewm-micky
	url = https://github.com/basaran/awesomewm-micky
[submodule ".config/nvim/snips"]
	path = .config/nvim/snips
	url = https://github.com/ms-jpq/snips
[submodule ".config/nvim/coq-user-snippets"]
	path = .config/nvim/coq-user-snippets
	url = https://github.com/ms-jpq/snips
